$open_sans_light : open_sanslight,Verdana,arial, "sans-serif";
$open_sans_regular : open_sansregular,Verdana,arial, "sans-serif";
$open_sans_semibold : open_sanssemibold,Verdana,arial, "sans-serif";
$open_sans_bold : open_sansbold,Verdana,arial, "sans-serif";


// ici mon css


html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:10px;
	//background:#5ee;
	margin-bottom: 40px;
}
#content {
	padding:10px;
	padding-bottom:51px;   /* Height of the footer element */
}
#footer {
	width:100%;
	height:51px;
	position:absolute;
	bottom:0;
	left:0;
	//background:#ee5;
}
h1{
	margin: 0;
	padding: 0;
}

input{
	margin: 7px 0;
}
.centerlabel{
	margin-top: 7px;
}
input[type="submit"]{
	margin: 27px 0 40px 0;
}

.signature-pk{
	text-align: right;
	padding: 15px;
	margin: 0;
}
.msg_reponse{
	color: #8cc835;
	font-size: 20px;
	width: 100%;
	text-align: center;
	float: left;
	margin-bottom: 20px;
}

.reponse{
	font-size: 20px;
	width: 100%;
	text-align: center;
	float: left;
	margin-bottom: 20px;
}
.exemple{
	color: #8b8b8b;
}